<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>App</th>
      <th>Username</th>
       <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of passwords">
      <td>{{ item.id }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.app }}</td>
      <td>{{ item.userName }}</td>
      <td>{{ decryptedPasswords[item.id] ? decryptedPasswords[item.id].password : '••••••' }}</td>
      <td>
        <button (click)="onShowPassword(item.id)">{{ decryptedPasswords[item.id] ? 'Hide' : 'Show' }}</button>
        <button (click)="onEdit(item)">Edit</button>
        <button (click)="onDelete(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
